@font-face {
    font-family: 'watery'; /*a name to be used later*/
    src: url('/static/assets/watery.ttf'); /*URL to font*/
} 

#container {
    border: dotted lightgrey 3px;
    display: block;
    width: 80%;
    height: auto;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #81b0f1, #81b0f146);
    background-repeat: no-repeat;
    background-size: auto;
}

#title{
    font-family: watery;
    color: white;
    font-size: calc(3vw + 30px);
    text-align: center;
    margin-bottom: 2%;
}

#left {
    text-align: left;
    padding: 10px;
}

#right {
    text-align: right;
    padding: 10px;

}
.data{
    color: white;
    text-align: center;
    width:50%;
    font-size: calc(3vw + 10px);
}

button {
    display: inline-block;
    width: 75%;
    height: 50px;
}

.sep {
    background-color: #DDDDDD;
    height: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
