@font-face {
    font-family: 'watery'; /*a name to be used later*/
    src: url('/static/assets/watery.ttf'); /*URL to font*/
} 

#container {
    display:block;
    width: calc(50% + 200px);
    height: fit-content;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
}

#title{
    font-family: watery;
    color: white;
    font-size: calc(3vw + 30px);
    text-align: center;
    margin-bottom: 2%;
}

.field{
    margin-left: 10%;
    width: 80%;
}

#submit_button{
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
}

#hint {
    position: relative;
    text-align: center;
    color: white;
    z-index: 5;
}