{% extends "topbar.html" %}
{% block head %}My Survey{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/my_survey.css">
</head>
<body>
    <script src="/static/script/my_survey.js"></script>
    <div id="button_holder">
        <button class="selector_button" id="left" onclick="change(0)">Posted Surveys</button>
        <button class="selector_button" id="right" onclick="change(1)">New Survey</button>
    </div>
    <div id="popup_bg" onclick="popdown()"></div>
    <div id="popup_box">
        <p id="popup_title">PLACEHOLDER</p>
        <p id="popup_date">Placeholder</p>
        <p id="popup_response">Placeholder</p>
        <iframe id="popup_preview" src="{{url_for('loading')}}"></iframe>
        <p id="popup_desc">Placeholder</p><br>
        <button id="copy_button" onclick="copy()">Copy Link</button>
    </div>
    <div id="survey_holder">
        {% for survey in surveys %}
        <span class="survey">
            <label class="survey_description" onclick="popup('{{survey[2].upper()}}','{{survey[6]}}','{{survey[4]}}','{{survey[8]|string}}','{{survey[1]}}','{{survey[0]}}')" ><span>{{survey[2].upper()}}</span></label>
        </span>
        {% endfor %}
    </div>
    <div id="new_holder">
        <h1 id="title">CREATE A NEW SURVEY</h1>
        <form id="upload_survey">
            <div class="inp_container">
                <label>Title: </label>
                <input id="new_title" class="inp_item" type="text">
            </div>
            <div class="inp_container">
                <label>Description: </label>
                <textarea id="new_desc" class="inp_item" style="resize:vertical"></textarea>
            </div>
            <div class="inp_container">
                <label>Link: </label>
                <input id="new_link" class="inp_item" type="text">
            </div>
        </form>
        <br><button id="submit_button" class="selector_button" onclick="upload();">UPLOAD</button>
        <br>
        <div class="hint_holder" id="warning">
            <img class="warn_img" src="/static/assets/warning.png">
            <label class="hint" id="warning_content"></label>
        </div>
        <div class="hint_holder">
            <img class="warn_img" src="/static/assets/warning.png">
            <label class="hint">It cost 5 point uploading a survey</label>
        </div>
        <div class="hint_holder">
            <img class="warn_img" src="/static/assets/warning.png">
            <label class="hint">Surveys with multiple pages can be expoited!</label>
        </div>
        <div class="hint_holder">
            <img class="warn_img" src="/static/assets/warning.png">
            <label class="hint">Some character like ' is banned as it cause bugs(working on it)</label>
        </div>
        <div class="hint_holder">
            <img class="warn_img" src="/static/assets/warning.png">
            <label class="hint">You can check the preview before uploading!</label>
        </div>
        <iframe id="preview" src="{{url_for('loading')}}"></iframe>
        <button class="selector_button" id="refresh" onclick="refresh()">Refresh preview</button>
    </div>
</body>
{% endblock %}