{% extends "topbar.html" %}
{% block head %}Profile{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <script src="/static/script/profile.js"></script>
    <div data-aos="flip-right" data-aos-duration="1000" data-aos-once="true" id="container">
        <h1 id="title">EMPORIUM</h1>
            <div style="display:flex">
                <div class="data" id="left">Username: </div>
                <div class="data" id="right" style="overflow:hidden; text-overflow:ellipsis;">{{userid}}</div>
            </div>
            <div class="sep"></div>
            <div style="display:flex">
                <div class="data" id="left">Password: </div>
                <div class="data" id="right"><button onclick="go('/change')">Change Password</button></div>
            </div>
            <div class="sep"></div>
            <div style="display:flex">
                <div class="data" id="left">Points: </div>
                <div class="data" id="right">{{point}}</div>
            </div>
            <div class="sep"></div>
            <div style="display:flex">
                <div class="data" id="left">Survey done: </div>
                <div class="data" id="right">{{survey_done}}</div>
            </div>
            <div class="sep"></div>
            <div style="display:flex">
                <div class="data" id="left">Survey posted:</div>
                <div class="data" id="right">{{survey_posted}}</div>
            </div>
            <div class="sep"></div>
            <div style="display:flex">
                <div class="data" id="left">Registered since: </div>
                <div class="data" id="right">{{age}}</div>
            </div>
    </div>
</body>
{% endblock %}