<!DOCTYPE html>
<html>
    <head>
        <title>{% block head %}{% endblock %}</title>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="/static/css/topbar.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body onload="update_points();start_background();">
        <script src="/static/script/topbar.js"></script>
        <script src="/static/script/jquery-3.6.0.js"></script>
        <script src="/static/script/jquery.redirect.js"></script>
        <div id="dropdown">
            <label class="drop" onclick="go('/profile')">Profile</label>
            <a class="drop" href="{{url_for('login')}}">Login</a>
            <label class="drop" onclick="logout()">Logout</a>
        </div> 
        <div data-aos="slide-right" data-aos-duration="1000" data-aos-once="true" class="topbar">
            <a id="logo" href="{{url_for('index')}}" ><img style="width: 49px" src="/static/assets/home.png"></a>
            <a class="button" onclick="go('/survey')" style="margin-left:auto">Survey</a>
            <span class="point_label" id="points">Points: </span>
            <label class="button" onclick="go('/notification')" >Notification</label>
            <div onclick="pop()"><img style="width: 49px;" src="/static/assets/Logo.png"></div>
        </div>
        <div id="background_holder">
        </div>
        {% block content%}
        {% endblock %}
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="/static/script/deviceDetection.js" onload="warn_mobile()"></script>
        <script>
          AOS.init();
        </script>
    </body>
</html>