{% extends "topbar.html" %}
{% block head %}Emporium{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/view.css">
</head>
<body onload="reset();">
    <script src="/static/script/view.js"></script>
    <div id="info_countainer">
        <p id="title">{{data[2].upper()}}</p>
        <p id="author">By: {{author}}</p>
        <p id="date">On: {{post_date}}</p>
        <p id="responds">Responds: {{data[-1]}}</p>
        <p id="description">{{data[6]}}</p>
    </div>
    <div id="survey_countainer">
        <iframe id="preview" src="{{data[1]}}" onload="add();"></iframe>
    </div>
    <button class="buttons" id="copy" onclick="copy()">Copy link</button>
    <button class="buttons" id="finish" onclick="check('{{survey_id}}')">Finish</button>
</body>
{% endblock %}